{% extends 'base.html.twig' %}

{% block title %}Hello NewLogementController!{% endblock %}

{% block body %}
<div class="row">
    <h2 class="center">Créer un nouveau logement</h2>
        <div class="col s12">
            {{ form_start(form) }}
                <div class="input-field col s6 offset-m3">
                    {{ form_row(form) }}
                </div>
                <div class="col s7 offset-m5">
                    <button class=" waves-effect waves-light btn" type="submit">Enregistrer</button>
                </div>
            {{ form_end(form) }}
                
        </div>
</div>
{% endblock %}
