{% extends 'base.html.twig' %}

{% block title %}Hello NewLogementController!{% endblock %}

{% block body %}
    <h1>Créer un nouveau logement</h1>

    {{ form_start(form) }}
        {# Ajoutez d'autres champs du logement ici #}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
